*,*::after,*::before{
    padding:0;
    margin:0;
}

.container{
    max-width: 980px;
    min-width: 350px;
}

.alertbox{
    padding: 10px 15px;
    border-radius: 5px;
}

.alertbox.bg-danger.d-flex.justify-content-between.align-items-center p{
    display: flex;
    align-items: center;
    margin:0;
}

.alertbox.bg-danger.d-flex.justify-content-between.align-items-center > div{
    width:10%;
    display: flex;
    justify-content: space-around;
}
